<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>To-Do-List</title>
</head>
<body>
<nav class="sidebar">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="task.html">Tasks</a></li>
        <li><a href="about.html">About Me</a></li>
    </ul>
</nav>

<div class="home_content">
    <div class="home_title">
        <p>To-Do-List</p>
    </div>

    <div class="home_task_preview">
        <div class="title preview">
            Saved Tasks
        </div>

        <div class="task_preview">
            <ul>
                <li>autore</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>